<app-navbar [user]="userInfo"></app-navbar>

<div class="container ">
  <div class="row">
    <div class="col-4">
      <div   class="card todo-color" >
        <div class="card-body">
          <div class="row top-action">
            <h5 class="card-title">Todo </h5>
            <fa name="plus"></fa>
          </div>

          <h6 class="card-subtitle mb-2 text-muted">{{ numberOfTasks }} tasks</h6>
          <div appStrikeThrough class="card item-card" *ngFor="let task of tasks; index as i; " >
            <span class ='task-name'>{{ task.name }} </span>
            <span class="actions">
<!--              <fa name="trash"></fa>-->
<!--              <fa name="plus"></fa>-->
            </span>
            <app-tags [tags]="task.tags" (selectTag)="getTask($event)"></app-tags>

          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card todo-color">
        <div class="card-body">
          <h5 class="card-title"> Add a New Task </h5>
          <app-task-creator (addTask)="addTask($event)"></app-task-creator>
        </div>
      </div>
    </div>

  </div>

</div>
